[include]
  path = ~/.gitconfig.local

[core]
  editor = vim
  pager = cat
  excludesfile = ~/.gitignore_global

[url "git@github.com:"]
  insteadOf = https://github.com/

[init]
  defaultBranch = main

[merge]
  ff = false

[rebase]
  updateRefs = true
  autosquash = true

[log]
  abbrevCommit = true

[diff]
  algorithm = histogram
  colorMoved = default
  colorMovedWS = allow-indentation-change
  mnemonicPrefix = true

[push]
  default = current
  autoSetupRemote = true
  followTags = true

[pull]
  rebase = true
  ff = only

[fetch]
  prune = true
  pruneRags = true

[rerere]
  enabled = true
  autoUpdate = true

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[versionsort]
  prereleaseSuffix = -pre
  prereleaseSuffix = .pre
  prereleaseSuffix = -beta
  prereleaseSuffix = .beta
  prereleaseSuffix = -rc
  prereleaseSuffix = .rc

[alias]
  # LOGS
  # [l]og [g]raph
  # [l]og [a]bbreviated
  lg = log --graph --decorate --all --format=format:'%C(bold blue)%h%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
  la = lg --abbrev-commit --oneline

  # STATUS
  # [s]tatus
  s = status

  # CHECKOUT
  # [c]heckout
  c = checkout

  # COMMIT AMENDMENTS
  # Fix last commit without editing message
  oops = commit --amend --no-edit
  # Undo last commit but keep changes
  undo = reset HEAD~1 --mixed

  # COMMIT SHORTCUTS
  # [co]mmit
  co = commit
  # [co]mmit [a]ll tracked files
  coa = commit -a
  # [co]mmit with [m]essage
  com = commit -m
  # [co]mmit [a]ll with [m]essage
  coam = commit -am

  # FIXUPS
  fix = "!f() { git commit --fixup=$1; }; f"
  fixup = "!git log -n 20 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
  squash = "!f() { git rebase -i --autosquash $1; }; f"

  # PUSH
  # Force [p]ush with lease (safer than --force)
  p = push --force-with-lease

  # SEARCH
  # Search commit messages and display affected files
  find = log --pretty=\"format:%Cgreen%H\n%s\n\n%b\" --name-status --grep

  # CLEANUP
  # Delete all branches merged into master (excluding current branch)
  prune = "checkout master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
