[core]
	editor = vim

[user]
	email = maxime.janvier@gmail.com
	name = Maxime Janvier

[url "git@github.com:"]
	insteadOf = https://github.com/

[init]
  defaultBranch = main

[rebase]
  updateRefs = true
	autosquash = true

[alias]
  c = checkout
  oops = commit --amend --no-edit
